# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Releases
releases/
*.exe
*.apk

# Temporários
*.tmp
*.temp
release-notes.md

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
